$mobile: 640px;

.mainWrapper {
  display: flex;
  flex-direction: column;

      @media (max-width: $mobile) {
        justify-content: center;
        align-items: center;
    }

  .grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
}
