$mobile: 480px;

.layoutWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  background-color: #18181b;
}

/* ──────────────────────────────── */
/*      Sidebar + Main Content      */
/* ──────────────────────────────── */
.topSection {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

/* ──────────────────────────────── */
/* Sidebar */
/* ──────────────────────────────── */
.sidebarWrapper {
  background-color: #212124;
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;

  /* Scroll */
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 6px;
  }
}

/* ──────────────────────────────── */
/* Main Content (children) */
/* ──────────────────────────────── */
.contentWrapper {
  flex: 1;
  height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;

    @media (max-width: $mobile) {
    height: calc(100vh - 170px);
  }

  /* Scroll */
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
  }
}

/* ──────────────────────────────── */
/* PlayerBar (پایین صفحه) */
/* ──────────────────────────────── */
.playerWrapper {
  position: fixed;
  bottom: 0;
  left: -15px;
  right: 0;

  height: 100px;
  background-color: #0f0f10;
  border-top: 1px solid #2b2b2f;
  z-index: 9999;

  @media (max-width: $mobile) {
    height: 132px;
  }
}
