$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

.cardWrapper {
  flex: 0 0 calc((100% - 3 * 16px) / 4);
}

@media (max-width: $tablet) {
  .cardWrapper {
    flex: 0 0 calc((100% - 2 * 16px) / 3);
  }
}

@media (max-width: $mobile) {
  .cardWrapper {
    flex: 0 0 calc((100% - 2 * 85px) / 1);
  }
}
